<?xml version="1.0"?>
<!DOCTYPE config SYSTEM "E:\IdeaProjects\Java-in-action\java-xml\src\main\resources\config.dtd">
<config>
  <entry id="background">
    <construct class="java.awt.Color">
      <int>55</int>
      <int>200</int>
      <int>100</int>
    </construct>
  </entry>
  <entry id="currency">
    <factory class="java.util.Currency">
      <string>USD</string>
    </factory>
  </entry>
</config>
